@font-face {
    font-family: 'HYQiHei-105JF';
    src: url('./HYQiHei-105JF_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-25JF';
    src: url('./HYQiHei-25JF_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-35S';
    src: url('./HYQiHei-35S.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-40S';
    src: url('./HYQiHei-40S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-45S';
    src: url('./HYQiHei-45S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-50S';
    src: url('./HYQiHei-50S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-55S';
    src: url('./HYQiHei-55S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-60S';
    src: url('./HYQiHei-60S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-65S';
    src: url('./HYQiHei-65S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-70S';
    src: url('./HYQiHei-70S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-75W';
    src: url('./HYQiHei-75W_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-80W';
    src: url('./HYQiHei-80W_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-85s';
    src: url('./HYQiHei-85S_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-90W';
    src: url('./HYQiHei-90W_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-95W';
    src: url('./HYQiHei-95W_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HYQiHei-35W';
    src: url('./HYQiHeiX1-35W_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "jzy.TTF";
    src: url('./jzy.TTF');
    font-weight: normal;
    font-style: normal;
}